PROJECT_NAME=FlowCred API
PROJECT_VERSION=0.1.0
API_V1_PREFIX=/api/v1

POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=flowcred
POSTGRES_USER=flowcred
POSTGRES_PASSWORD=change_me

BACKEND_CORS_ORIGINS=http://localhost:5173
